root{
    --background-color: #cacaca;
    --primaria: #82BE5B;
    --primaria-apoio: #65AA52;
    --primaria-light: #D9E8D9;
    --secundaria: #FF7D45;
    --fonte-clara: #808E9C;
    --fonte-ecura: #56697B;
}
