.template-header-main{
    display: flex;
    width: 100%;
    background: white;
    .container{
        .wrapper-header-main{
            .nav-bar{
                .menu-nav-bar{

                }
            }
        }
    }
}
