.template-header-main{
    display: flex;
    width: 100%;
    background: white;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,.05));
    .container{
        .wrapper-header-main{
            display: flex;
            width: 100%;
            flex-direction: row;
            padding: 20px 0;

            .navbar-brand{
                .logo{
                    width: 200px;
                    height: 130px;
                    border-radius: var(--border-radius-general);
                }
            }

            .nav-bar{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                .menu-nav-bar{
                    display: flex;
                    text-transform: uppercase;
                    font-size: 20px;
                    transition: .2s;
                    font-weight: 700;
                    align-items: center;
                    justify-content: center;

                    &:hover{
                        color: var(--secundaria);
                    }
                }
            }
        }
    }
}
